<h1>Choose</h1>


<%= form_for :choice do |f| %>
  <%= image_tag("https://graph.facebook.com/#{@random_person_1["username"]}/picture?type=large") %><br>
  <%= "#{@random_person_1["name"]}" %>
  <br>
  <br>
  <%= f.hidden_field :given_1, :value => @random_person_1 %>
  <%= f.radio_button :answered_1, "Mate" %>
  <%= f.label :answered_1, "Mate", :value => "mate" %>
  <%= f.radio_button :answered_2, "Marry" %>
  <%= f.label :answered_1, "Marry", :value => "marry" %>
  <%= f.radio_button :answered_3, "Murder" %>
  <%= f.label :answered_1, "Murder", :value => "murder" %>
  <br>
  <br>
  <br>
  <%= image_tag("https://graph.facebook.com/#{@random_person_2["username"]}/picture?type=large") %><br>
  <%= "#{@random_person_2["name"]}" %>
  <br>
  <br>
  <%= f.hidden_field :given_2, :value => @random_person_2 %>
  <%= f.radio_button :answered_1, "Mate" %>
  <%= f.label :answered_2, "Mate", :value => "mate" %>
  <%= f.radio_button :answered_2, "Marry" %>
  <%= f.label :answered_2, "Marry", :value => "marry" %>
  <%= f.radio_button :answered_3, "Murder" %>
  <%= f.label :answered_2, "Murder", :value => "murder" %>
  <br>
  <br>
  <br>
  <%= image_tag("https://graph.facebook.com/#{@random_person_3["username"]}/picture?type=large") %><br>
  <%= "#{@random_person_3["name"]}" %>
  <br>
  <br>
  <%= f.hidden_field :given_3, :value => @random_person_3 %>
  <%= f.radio_button :answered_1, "Mate" %>
  <%= f.label :answered_3, "Mate", :value => "mate" %>
  <%= f.radio_button :answered_2, "Marry" %>
  <%= f.label :answered_3, "Marry", :value => "marry" %>
  <%= f.radio_button :answered_3, "Murder" %>
  <%= f.label :answered_3, "Murder", :value => "murder" %>

  <br>
  <br>
  <br>

  <%= f.hidden_field :user_id, :value => "#{@user_1_id}" %>

  <%= f.submit %>

<% end %>
