<!DOCTYPE html>
<html>
<head>
  <title>MateMarrryMurderApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <!-- start Mixpanel --><script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===e.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f);b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==
    typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");for(g=0;g<i.length;g++)f(c,i[g]);
    b._i.push([a,e,d])};b.__SV=1.2}})(document,window.mixpanel||[]);
    mixpanel.init("4fbea60ea00c25023218f60a6cc03d25");</script><!-- end Mixpanel -->

</head>
<body>

  <nav class="top-bar">
    <ul class="title-area">
      <li class="name" id="user_nav">
        <% if current_user %>
          <%= link_to "Sign out", signout_path, id: "sign_out", :class => 'signed-in-menu-right' %>
          <p class="signed-in-menu-right">Signed in as <strong><%= current_user.name %></strong>!</p>
          <%= link_to "Home", "/", id: "homebutton", :class => 'button' %>
        <% end %>
      </li>
    </ul>
  </nav>

<div id="flash_notice">
  <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
  <% end %>
</div>
<div class="row">
  <div class="large-10 large-centered main-area columns">
    <%= yield %>

  <% unless current_user %>
    <%= button_to "Sign in with Facebook", "/auth/facebook", id: "sign_in", :class => 'button' %>
  <% end %>

  </div>
</div>
</body>
</html>

